<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="TaxiOnline.Server.MobileService.TaxiOnlineService">
        <clear />
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITaxiOnlineService"
          contract="TaxiOnline.ServiceContract.ITaxiOnlineService" listenUriMode="Explicit" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/TaxiOnline/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITaxiOnlineService" maxReceivedMessageSize="6553600" >
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>